body {
  background-color: rgb(231, 188, 45);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  color: white;
}

#menu {
  background: #7a1212;
  height: 45px;
}
#menu ul,
#menu li {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
#menu ul {
  width: 100%;
  text-align: center;
}
#menu li {
  display: inline-block;
  position: relative;
}
#menu a {
  display: block;
  line-height: 45px;
  padding: 0 14px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

#menu li a:hover {
  color: #000000;
  background: #f2f2f2;
}
#menu input {
  display: none;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
#menu label {
  display: none;
  line-height: 45px;
  text-align: center;
  position: absolute;
  left: 35px;
}
#menu label:before {
  font-size: 1.6em;
  color: #ffffff;
  content: "\2261";
  margin-left: 20px;
}

@media screen and (max-width: 800px) {
  #menu {
    position: relative;
  }
  #menu ul {
    background: #7a1212;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 3;
    height: auto;
    display: none;
    text-align: left;
  }
  #menu li {
    display: block;
    float: none;
    width: auto;
  }
  #menu input,
  #menu label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  #menu input {
    z-index: 4;
  }
  #menu input:checked + label {
    color: #ffffff;
  }
  #menu input:checked + label:before {
    content: "\00d7";
  }
  #menu input:checked ~ ul {
    display: block;
  }
}

#cadreInscrire {
  border-style: none;
  background-color: #2935a1;
  display: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  border-radius: 30px;
  padding: 20px;
}

#menu {
  border-style: none;
  position: left;
  justify-content: space-evenly;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.boutons {
  display: flex;
  justify-content: space-evenly;
}

fieldset {
  border: #2935a1;

  h4 {
    color: white;
  }

  input {
    padding-right: 400px;
    background-color: #2935a1;
    border: none;
    border-bottom: 2px solid white;
  }

  #nom {
    color: white;
  }

  #email {
    color: white;
  }

  #mdp {
    color: white;
  }

  button {
    padding-left: 25px;
    padding-right: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .coche {
    width: 25px;
  }

  /* #nbCaracteres{
	color: red;
} */
}



/* Partie Vérif force mot de passe */

#password-strength {
	-webkit-appearance: none; 
	-moz-appearance: none;    
	appearance: none;         
  }

meter {
  width: 100%;
  height: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border-style: none;
}

#password-strength 

meter [value="0"] {
  background-color: red;
}
meter[value="1"] {
  background-color: orange;
}
meter[value="2"] {
  background-color: yellow;
}

meter[value="3"] {
  background-color: greenyellow;
}

meter[value="4"] {
  background-color: green;
}

#password-strength-text {
  font-size: 0.9em;
  margin-top: 5px;
}
